<div class="container-fluid" style="padding: 10px">
    <div class="row" >
        <div class="col-md-12">
            <label class="text-bold ">! All * fields are Mandatory.</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="text-bold">Subject <span>*</span></label>
            <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="subject"/>
        </div>
        <div class="col-md-6">
            <label class="text-bold">Redirect URL</label>
            <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="redirectURL"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <label class="text-bold">Description <span>*</span></label>
            <textarea class="form-control tom-border-radius" [(ngModel)]="description" rows="5"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="text-bold">Upload Image (Max Size 500KB)</label>
            <input type="file" class="form-control input-sm tom-border-radius" id="imageBase64" accept=".jpg,.jpeg,.png" 
            (change)="changeListener($event,2)"/>
        </div>
        <div class="col-md-6">
            <label class="text-bold">Upload Video (Max Size 10MB)</label>
            <input type="file" class="form-control input-sm tom-border-radius" id="videoBase64" accept=".mp4" 
            (change)="changeListener($event,1)"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <label class="text-bold">Role <span *ngIf="!isChecked">*</span></label>
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="roleList"
                [(ngModel)]="selectedRoleList" [settings]="multiSelectdropdownSettings"
                [disabled] = "isChecked">
            </ng-multiselect-dropdown>
        </div>

        <div class="col-md-2 text-center">
            <label style="color: transparent;display: block">OR</label>
            <label class="text-bold"><input type="checkbox" [(ngModel)]="isChecked"/> OR </label>
        </div>

        <div class="col-md-5">
            <label class="text-bold">Employee <span *ngIf="isChecked">*</span></label>
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="employeeList"
                [(ngModel)]="selectedEmployeeList" [settings]="multiSelectdropdownSettings"
                [disabled] = "!isChecked">
            </ng-multiselect-dropdown>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <label style="color: transparent;display: block">Submit</label>
            <button class="btn text-white text-bold tom-border-radius" [ngStyle]="{'background-color':button}" (click)="submitNotificationData()">Submit Notification</button>
        </div>
    </div>
</div>