
<div class="container-fluid" style="padding: 10px">
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip color="white" selected (click)="changeSelected($event)">
        Create Employee
        <mat-icon>add_circle_outline</mat-icon>
      </mat-chip>
  </mat-chip-list>
</div>

<mat-accordion class="example-headers-align">
	<!-- <mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Create Employee
			</mat-panel-title>
		</mat-expansion-panel-header>

      <div class="container-fluid" [ngStyle]="{'background-color':color2}" style="padding: 10px">
          <div class="row" >
            <div class="col-md-12">
              <label class="text-white text-bold ">! All * fields are Mandatory.</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="text-white text-bold ">Employee Name <span>*</span> </label>
              <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="employeeName">
            </div>
            <div class="col-md-2">
              <label class="text-white text-bold ">Role <span>*</span> </label>
              <ng-multiselect-dropdown [placeholder]="'Select'" [data]="roleList"
                [(ngModel)]="selectedRoleList" [settings]="singleSelectdropdownSettings"
                >
              </ng-multiselect-dropdown>
            </div>
            <div class="col-md-2">
              <label class="text-white text-bold ">Mobile <span>*</span> </label>
              <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="mobile" OnlyNumber="true" LengthValidater="10">
            </div>
            <div class="col-md-2">
              <label class="text-white text-bold ">Secondary Mobile</label>
              <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="secondaryMobile" OnlyNumber="true" LengthValidater="10">
            </div>
           

            <div class="col-md-2">
              <label class="text-white text-bold ">State <span>*</span> </label>
              <ng-multiselect-dropdown [placeholder]="'Select'" [data]="stateList"
                [(ngModel)]="selectedStateList" [settings]="singleSelectdropdownSettings">
              </ng-multiselect-dropdown>
            </div>

            
            <div class="col-md-3">
              <label class="text-white text-bold ">RM employee</label>
              <ng-multiselect-dropdown [placeholder]="'Select'" [data]="rmIdList"
                [(ngModel)]="selectedRmIdList" [settings]="singleSelectdropdownSettings"
                >
              </ng-multiselect-dropdown>
            </div>
            
            <div class="col-md-2">
              <label style="color: transparent;display: block">0</label>
              <label class="text-white text-bold "><input type="checkbox" [(ngModel)]="isFieldUser"/> Is Field User</label>
            </div>
        
            <div class="col-md-3">
              <label style="color: transparent;display: block">filter</label>
              <button class="btn text-white text-bold tom-border-radius" [ngStyle]="{'background-color':button}" (click)="submitEmployeeData()">Add new</button>
            </div>
          </div>
        </div> 
      </mat-expansion-panel> -->
      <!-- hideToggle -->
      <!-- <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            View Employee
          </mat-panel-title>
      </mat-expansion-panel-header>
      
        <div class="row" style="margin:0px 0px 10px;overflow:auto;">
          <div class="col-md-12 table-data-div">
            <ng2-smart-table [settings]="employeeTableSettings" [source]="employeeList" (custom)="onCustomAction($event)"></ng2-smart-table>
          </div>
        </div>
      </mat-expansion-panel> -->
    </mat-accordion>

    <mat-tab-group>
    
      <mat-tab label="View Employee">
        <div class="row" style="margin:0px 0px 10px;overflow:auto;">
          <div class="col-md-12 table-data-div">
            <ng2-smart-table [settings]="employeeTableSettings" [source]="employeeList" (custom)="onCustomAction($event)"></ng2-smart-table>
          </div>
        </div>
      </mat-tab>
  
    </mat-tab-group>

    <div id="createEmployeeModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" >
        <div class="modal-content">
          <div class="modal-header" style="padding: 10px !important;">
            <h4 class="modal-title"></h4>
            <button type="button" class="btn  btn-sm text-white" [ngStyle]="{'background-color':button}" (click)="closeAnyModal('createEmployeeModal')">Close</button>
          </div>
          <!-- [ngStyle]="{'background-color':color2}" -->
          <div class="modal-body det-modal-body">
            <div class="row" >
              <div class="col-md-12">
                <label class="text-bold ">! All * fields are Mandatory.</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="text-bold ">Employee Name <span>*</span> </label>
                <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="employeeName">
              </div>
              <div class="col-md-6">
                <label class="text-bold ">Role <span>*</span> </label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [data]="roleList"
                  [(ngModel)]="selectedRoleList" [settings]="singleSelectdropdownSettings"
                  >
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="text-bold ">Mobile <span>*</span> </label>
                <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="mobile" OnlyNumber="true" LengthValidater="10">
              </div>
              <div class="col-md-6">
                <label class="text-bold ">Secondary Mobile</label>
                <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="secondaryMobile" OnlyNumber="true" LengthValidater="10">
              </div>
            </div>
            <div class="row">
  
              <div class="col-md-6">
                <label class="text-bold ">State <span>*</span> </label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [data]="stateList"
                  [(ngModel)]="selectedStateList" [settings]="singleSelectdropdownSettings">
                </ng-multiselect-dropdown>
              </div>
  
              
              <div class="col-md-6">
                <label class="text-bold ">RM employee</label>
                <ng-multiselect-dropdown [placeholder]="'Select'" [data]="rmIdList"
                  [(ngModel)]="selectedRmIdList" [settings]="singleSelectdropdownSettings"
                  >
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="text-bold " style="display: block">Is Field User??</label>
                <label class="text-bold "><input type="checkbox" [(ngModel)]="isFieldUser"/> Is Field User</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <label style="color: transparent;display: block">filter</label>
                <button class="btn text-bold text-white tom-border-radius" [ngStyle]="{'background-color':button}" (click)="submitEmployeeData()">Submit</button>
              </div>
            </div>
          </div>
          
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
      
      <div id="editEmployeeModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style="max-width:  1320px !important">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px !important;">
                  <h4 class="modal-title">Edit : {{editableEmployeeId}}</h4>
                  <button type="button" class="btn  btn-sm text-white" [ngStyle]="{'background-color':button}" (click)="closeModal()">Close</button>
                </div>
                <!-- [ngStyle]="{'background-color':color2}" -->
                <div class="modal-body det-modal-body">
                  <div class="row">
                    <div class="col-md-2">
                      <label class="text-bold ">Employee Name</label>
                      <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="editEmployeeName" (input)="isDoAnyChange = false">
                    </div>
                    <div class="col-md-2">
                      <label class="text-bold ">Role</label>
                      <ng-multiselect-dropdown [placeholder]="'Select'" [data]="roleList"
                        [(ngModel)]="editSelectedRoleList" [settings]="singleSelectdropdownSettings"
                        (onSelect)="isDoAnyChange = false" (onSelectAll)="isDoAnyChange = false"
                        >
                      </ng-multiselect-dropdown>
                    </div>
                    <div class="col-md-2">
                      <label class="text-bold ">Mobile</label>
                      <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="editMobile" (input)="isDoAnyChange = false" OnlyNumber="true" LengthValidater="10">
                    </div>
                    <div class="col-md-2">
                      <label class="text-bold ">Secondary Mobile</label>
                      <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="editSecondaryMobile" (input)="isDoAnyChange = false" OnlyNumber="true" LengthValidater="10">
                    </div>
                    <div class="col-md-2">
                      <label class="text-bold ">State</label>
                      <!-- <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="editState" (input)="isDoAnyChange = false"> -->
                      <ng-multiselect-dropdown [placeholder]="'Select'" [data]="stateList"
                        [(ngModel)]="editSelectedStateList" [settings]="singleSelectdropdownSettings"
                        (onSelect)="isDoAnyChange = false" (onSelectAll)="isDoAnyChange = false">
                      </ng-multiselect-dropdown>
                    </div>
                    <!-- <div class="col-md-2">
                      <label class="text-bold ">Area</label>
                      <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="editArea" (input)="isDoAnyChange = false">
                    </div>
                    <div class="col-md-2">
                      <label class="text-bold ">City</label>
                      <input type="text" class="form-control input-sm tom-border-radius" [(ngModel)]="editCity" (input)="isDoAnyChange = false">
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label class="text-bold ">RM employee</label>
                      <ng-multiselect-dropdown [placeholder]="'Select'" [data]="rmIdList" (input)="isDoAnyChange = false"
                        [(ngModel)]="editSelectedRmIdList" [settings]="singleSelectdropdownSettings"
                        (onSelect)="isDoAnyChange = false" (onSelectAll)="isDoAnyChange = false"
                        >
                      </ng-multiselect-dropdown>
                    </div>
                   
                    <div class="col-md-2">
                      <label style="color: transparent;display: block">0</label>
                      <label class="text-bold "><input type="checkbox" [(ngModel)]="editIsFieldUser" (input)="isDoAnyChange = false"/> Is Field User</label>
                    </div>
                
                    <div class="col-md-4">
                      <label style="color: transparent;display: block">filter</label>
                      <button class="btn text-white text-bold tom-border-radius" [ngStyle]="{'background-color':button}" [(disabled)] = "isDoAnyChange" (click)="editEmployeeData()">Save</button>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
      </div>